- var companies = [{"logo":"./icon/yandex.svg","name":"YNDX","fullname":"Yandex NV","subtotal":"$21.65","count":"15 шт."}]

mixin company(object)
    .item.item_company.item_company-inside&attributes(attributes)
        .item_company__count.item_company-inside__count=object.count
        .item_company__logo.item_company-inside__logo
            img.img-fluid(src=object.logo)
        .item_company-inside__info
            .item__title.item_company__name.item_company-inside__name=object.name
            .item_company__fullname.item_company-inside__fullname=object.fullname
        .item_company-inside__col
            .item__title.item_company-inside__price.item_subtotal=object.subtotal
            p.item_company-inside__label Цена за акцию 
.heading-screen.heading-screen_step
    .container.heading-screen__container.heading-screen_step__container.heading-screen_step__container_success
        .row 
            .col-7.col-xl-6.col-lg-8.col-md-9.col-sm-12
                h1.heading-screen__title.heading-screen_step__title Отличный выбор! 
                    br
                    | Мы вложили 
                    span#price(data-status="success") 90 000 
                    | &nbsp;₽ в&nbsp;акции быстрорастущих компаний
                .heading-screen__card.heading-screen_step__card
                    for object, index in companies
                        +company(object)(data-id=index)
                a.btn.btn_action.heading-screen_step__btn(data-href="stocks.html" data-target="#heading-screen" data-loader="ajax") Начать торговать
                script
                    | window.showTotalSharesRur('#price[data-status="success"]');
                    | window.showCurrentCompanies()