- var companies     = [{"name":"YNDX","fullname":"Yandex NV","subtotal":"$21.65","total":"23 745","count":"15 шт."},{"name":"TSLA","fullname":"Tesla inc.","subtotal":"$46.96","total":"27 469","count":"8 шт."}]

mixin companyStocks(object)
    .stocks__company&attributes(attributes)
        .item.item_stocks
            .item_stocks__count=object.count
            .item_stocks__info
                .item_stocks__title=object.name
                .item_stocks__subtitle=object.fullname
            .item_stocks__info
                .item_stocks__title#subtotal=object.subtotal
                .item_stocks__subtitle Цена за акцию
            .item_stocks__info
                .item_stocks__title#total=object.total
                .item_stocks__subtitle Общая стоимость
block content
    .stocks
        .container.stocks__container
            .grid.grid_stocks 
                .stocks__info
                    .stocks__info-grid
                        for object, index in companies
                            +companyStocks(object)(data-id=index)
                        //- .stocks__graph
                        //-     img.img-fluid(src="./img/graph-1.svg")
                        .stocks__graph
                            canvas#flot-graph(width="820" height="400")
                    .mt-2.stocks__btns
                        .stocks__btns-item
                            a.btn.btn_action.stocks__btn(href="stocks-final.html") Подождать еще год
                        .stocks__btns-item
                            a.btn.btn_secondary.stocks__btn(href="result.html") Продать акции
                .stocks__chat
                    .stocks__chat-body
                        .stocks__message.stocks__message_new
                            .stocks__message-name Консультант ITI Capital
                            .stocks__message-date 2017 год
                            .stocks__message-text Год прошел отлично, акции растут! В следующем году Apple выпустит новое устройство, а Яндекс новый сервис. Советум подождать еще год
                        .stocks__message
                            .stocks__message-name Консультант ITI Capital
                            .stocks__message-date 2017 год
                            .stocks__message-text Год прошел отлично, акции растут! В следующем году Apple выпустит новое устройство, а Яндекс новый сервис. Советум подождать еще год
    link(href="css/graphart.css" rel="stylesheet")
    script
        | window.drawActiveStocks();
        | window.drawStocksPlot('#flot-graph');
