extends ../blocks/main.pug

block variables
    - var pageTitle     = "Результат"
    - var companies     = [{"logo":"./icon/yandex.svg","name":"YNDX","fullname":"Yandex NV","subtotal":"$21.65","count":"15 шт."},{"logo":"./icon/tesla.svg","name":"TSLA","fullname":"Tesla inc.","subtotal":"$46.96","count":"8 шт."}]
mixin company(object)
    .item.item_company.item_company-inside
        .item_company__count=object.count
        .item_company__info 
            .item_company__logo
                img.img-fluid(src=object.logo)
            .item__title.item_company__name=object.name
            .item_company__fullname=object.fullname
        p.item_company__label Стоимость акции
        .item__title=object.subtotal
block content
    section.heading-screen.heading-screen_step
        .container.heading-screen__container.heading-screen_step__container.heading-screen_step__container_subscribe
            .row
                .col-6 
                    h1.heading-screen__title Спасибо, Сергей!
                        br
                        | Наша команда свяжется с&nbsp;вами в&nbsp;ближайшее время 
                    p.h3.heading-screen__subtitle.mb-4 Подпишитесть на&nbsp;нашу рассылку, чтобы узнавать последние 
                        | новости из&nbsp;мира инвестиций
                    form.form.form_column.heading-screen__form(action="")
                        input.input.form_column__input(type="email", name="",placeholder="Ваш email")
                        button.btn.btn_action.form_column__btn(type="submit") Получать важные новости